.container {
    padding: 32px 28px;
}

.inputs {
    margin-bottom: 64px;
}

.inputs div {
    margin-bottom: 6px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}


.get-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border-radius: 64px;
    background-color: #e2e2e2;
}

.get-photo p {
    margin-bottom: 8px;
    font-size: 24px;
}
