* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  --brand-color: #F79433;

  --gray-1: #e2e2e2;
  --gray-2: #afafaf;

  --fs-3: 12px;
  --fs-4: 16px;
  --fs-5: 20px;

  --header-height: 48px;
}
